p{
 font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h1{
 font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#postTable table,td {
 border: 5px solid black;
}

#content {
     margin-left: 20px;
}
